<div class="top-row ps-3 navbar navbar-dark">
    <div class="navbar">
        <div class="d-flex align-items-center">
            <!--  <img src="Logo.png" class="logo" alt="Company logo" />
            <span>Blazor</span>-->
            <b>
                <i>
                    <span class="Fiberline">FIBERLINE</span>
                </i>
            </b>
        </div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Hjem
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Shifts">
                <span class="oi oi-arrow-circle-right" aria-hidden="true"></span> Arbejdshold
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Monthly">
                <span class="oi oi-arrow-circle-right" aria-hidden="true"></span> Månedlig fejl
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Total">
                <span class="oi oi-arrow-circle-right" aria-hidden="true"></span> Total
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Machines">
                <span class="oi oi-arrow-circle-right" aria-hidden="true"></span> Fejl pr. Maskine
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MachineTotals">
                <span class="oi oi-arrow-circle-right" aria-hidden="true"></span> Totale Fejl pr. Maskine
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="KPI">
                <span class="oi oi-arrow-circle-right" aria-hidden="true"></span> KPI
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}